.transition {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transform-origin: top center;
}

.colorTitle {
  color: white;
  font-size: 3rem; /* Ajustez la taille de la police selon vos préférences */
  text-align: center;
  margin: 0; /* Pour éviter tout écart autour du texte */
}

.titleOverlay {
  display: flex;
  justify-content: center;  /* Centre horizontalement */
  align-items: center;      /* Centre verticalement */
  position: absolute;       /* Positionner l'overlay */
  inset: 0;                 /* Utilisation de `inset` pour couvrir tout l'écran */
}
